@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500&display=swap');

:root{
    --black: rgb(238, 243, 232);
    --light-color: #f22626;
    --box-shadow: 0.5rem 1.5rem rgba(240, 174, 226, 0.708);
}

*{
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    background-image: url("images/home1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f8f0f5;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
 header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
 }

 header .logo img{
    height: 100px;
 }
header h1{
    color: red;
    font-size: 30px;
 }
 header .navbar a{
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
    border: .1rem solid transparent;
 }
 header .navbar a.active,
 header .navbar a:hover{
    color: rgb(18, 3, 3);
    border: .1rem solid rgba(248, 244, 240, 0.2);
 }
 header .icon i{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background: var(--light-color);
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
 }
 header .icon i:hover{
    color: #fff;
    background: var(--light-color);
    transform: rotate(45deg);
 }
 header .icon #menu{
    display: none;
 }

 #main .home h2{
    margin-top: 285px;
    margin-left: 75px;
    font-size: 55px;
 }
 #main .home p{
    font-size: 30px;
    margin-left: 15px;

 }
 #main .home .buttonload {
    margin-left: 95px;
    background-color: #f44444; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
    border-radius: 5px;
  }
  #main #section2{
    margin-top: 375px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    color: rgb(11, 11, 11);
  }

  /* #main .items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  } */
 /* #foods{
    background-color: aqua; */

    /* grid-template-columns: 50fr,50fr; */
  }
  
  /* Add a right margin to each icon *
 /* navbar style end here  */
 /* slider style start here  */
 /* .home .home-slider .slide{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
 }

 .home .home-slider .slide1{
     background: url(images/slide1.jpg);
 }
 .home .home-slider .slide2{
    background: url(images/slide2.jpg);
}
.home .home-slider .slide3{
    background: url(images/slide3.jpg);
}
.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3{
    background-size: cover;
    background-repeat: no-repeat;
}
.home .home-slider .slide .content{
    text-align: center;
    padding-left: 9rem;
}
.home .home-slider .slide .content h3{
    color: var(--light-color);
    font-size: 3rem;
    font-weight: 300;
}
.home .home-slider .slide .content h1{
    color: #fff;
    font-size: 8rem;
}
.home .home-slider .slide .content p{
    color: #e6e7e7;
    font-size: 1.8rem;
    letter-spacing: 1px;
    padding: .5rem 0;
    line-height: 1.5;
    font-weight: 200;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size:1.7rem;
    color: #fff;
    border: .1rem solid rgba(205,170,124,0,2);
    background: transparent;
    cursor: pointer;
    padding: .8rem 3rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn:before{
    content:'';
    width: 100%;
    height: 100%;
    background: var(--light-color);
    /* z-index: -1; */
    /* position:absolute;
    top: 0;
    left: -100%;
    transition: .5s;
}
.btn:hover.btn:before{
    left:0
} */ */
 /* slider style end  */
 

 /* media query */

 
 @media (max-width: 991px)
 {
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    header .logo img{
        height: 7rem;
    }
 }
 @media (max-width: 768px){
    header .logo img{
        height: 7rem;
    }
    header .icon #menu{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(205,170,124,0.2);
        border-bottom: .1rem solid rgba(205,170,124,0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0,100% 0, 0 0);
    }
    header .navbar .active{
        clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin:1rem;
        font-size: 2rem;
        background: var(--black);
    }
 }
